:root {
  --nav-bg-color: #3C6E9A;
  --nav-list-hover: #F0C993;
  --black: #252733;
  --white: #ffffff;
  --system-ui: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--system-ui);
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr / 250px minmax(0, 1fr);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px;
  gap: 20px;
  font-weight: 600;
}

a > img{
  height: 1.5rem;
}

a:hover{
  color: var(--nav-list-hover);
  background: #00000037;
  border-left: 4px solid var(--nav-list-hover);
  padding-left: 1rem;
  transition: .4s;
}

input,
button {
  font: inherit;
}

nav{
  background: var(--nav-bg-color);
  color: var(--white);
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 45px;
  padding: 16px;
  grid-area: 1 / 1 / 3 / 2;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.logo-container > img {
  height: 3rem;
}