:root {
  --input-border: #E5E7EB;
  --input-focus: #b0c1f0;
  --btn-hover: #4D5970;
  --main-bg-color: #e2e8f0;
  --card-border: #f4b45b;
  --blue: #3C6E9A;
  --yellow: #F0C993;
  --black: #252733;
  --gray: #6b6969;
  --white: #ffffff;
  --system-ui: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--system-ui);
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr / 250px 4fr;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px;
  gap: 20px;
  font-weight: 600;
}

a>img {
  height: 1.5rem;
}

a:hover {
  color: var(--yellow);
  background: #00000037;
  border-left: 4px solid var(--yellow);
  padding-left: 1rem;
  transition: .4s;
}

input,
button {
  font: inherit;
}

nav {
  background: var(--blue);
  color: var(--white);
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 45px;
  padding: 16px;
  grid-area: 1 / 1 / 3 / 2;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.logo-container>img {
  height: 3rem;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  padding: 16px 32px;
  position: relative;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.52);
}

.search-box,
.user-info,
.profile-container {
  display: flex;
  align-items: center;
}

.search-box {
  gap: 8px;
}

.search-box label {
  background: url(../img/search.svg) no-repeat center;
  min-width: 1.8rem;
  height: 1.8rem;
}

.search-box input {
  font-size: 1.3rem;
  border: none;
  outline: none;
  border: 2px solid var(--input-border);
  border-radius: 25px;
  padding: 2px 12px;
  flex: 1;
}

.search-box input::placeholder {
  opacity: .5;
}

.search-box input:focus {
  border: 2px solid var(--input-focus);
}

.user-info {
  justify-self: center;
  gap: 16px;
}

.bell-icon {
  background: url(../img/bell.svg) no-repeat center;
  min-width: 1.8rem;
  height: 1.8rem;
}

.user-info>img {
  height: 3.5rem;
}

.user-info>p {
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-container>img {
  height: 6rem;
}

h2>span {
  font-weight: 500;
}

.greeting-text {
  padding: 8px;
  margin-top: 16px;
}

.btn-container {
  justify-self: start;
  align-self: center;
  display: flex;
  gap: 12px;
}

.btn-container button {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 6px 24px;
  background: var(--blue);
  color: var(--white);
  transition: .2s;
}

.btn-container button:hover {
  background: var(--btn-hover);
}

.btn-container button:active {
  background: var(--black);
  transition: .4s;
}

main {
  background: var(--main-bg-color);
  padding: 16px 32px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.card {
  background: var(--white);
  padding: 2rem;
  border-radius: 8px;
  line-height: 1.25;
  box-shadow: -1px 4px 3px -3px rgba(0, 0, 0, 0.63);
}

.card p {
  color: var(--gray);
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 12px;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 20px;
}

.card-group>.card {
  display: grid;
  border-left: 8px solid var(--card-border);
  grid-template-rows: auto 1fr auto;
}

.card-group h4 {
  font-size: 1.3rem;
}

.card-icons {
  justify-self: end;
  display: flex;
  gap: 16px;
}

.card-icons>img {
  height: 1.5rem;
}

.announcements li {
  padding: 8px;
}

.announcements li:not(:last-of-type) {
  border-bottom: 1px solid var(--gray);
}

.trending ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trending li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  align-items: center;
}

.text-wrapper p:first-of-type{
  color: var(--black);
}

.trending img {
  height: 4rem;
}